.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -128px;
  margin-top: -128px;
  animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.title {
  display: none;
  text-align: center;
  font-family: Arial,Helvetica,sans-serif;
}